table {
  width: 100%;
}

.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 1.1rem;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #d9cd26
}

.delete > i{
  color: #e35e6b;
}
